.App {
  text-align: center;
  height: inherit;
}

html{
  width: 100%;
  background-color: #9b9b9b;
}
body{
  height:100%; /* force the BODY element to match the height of the HTML element */
  width: 100%;
  background-color: #9b9b9b;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  height: inherit;
}
.GridDropdown {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.InfoRenderer {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.ag-theme-balham {
  height: inherit;
}

.popup-overlay {
  overflow: visible;
  width: 100%;
}

.ag-cell {
  overflow: visible;
}

.request-grid {
  max-width: 1257px !important;
  width: 100%;
}


.container {
  width: 100% !important;
  max-width: 1257px !important;
  top: 0px;
  /*align-items: center;*/
  position: relative !important;
  padding: 0 !important;
}

.popupdiv {
  width: 100%;
  height: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 20px;
}

.popup-content {
  color: black;
}

.Display {
  width: 100%;
  max-width: inherit !important;
  height: inherit !important;
  margin: auto;
  position: relative;
}

.ag-root-wrapper-body.ag-layout-normal {
  height: auto !important;
}

.ag-body-viewport-wrapper.ag-layout-normal {
  width: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.nav {
  position: relative;
  margin: 0  auto !important;
  background-color: white;
}

.nav-bar {
  align-items: center;
}

.nav a{
  color: black;
}

.nav-div {
  background-color: #9b9b9b;
  position: relative;
}



.action-button {
  height: 24px !important;
  align-items: flex-start !important;
  text-align: center !important;
  color: buttontext !important;
  /*background-color: buttonface !important;*/
  box-sizing: border-box !important;
  padding: 2px 6px 3px !important;
  border-width: 2px !important;
  border-style: outset !important;
  border-color: buttonface !important;
  border-image: initial !important;
  text-rendering: auto !important;
  letter-spacing: normal !important;
  word-spacing: normal !important;
  text-transform: none !important;
  text-indent: 0 !important;
  text-shadow: none !important;
  display: inline-block !important;
  margin: 0 !important;
  font: 400 11px system-ui !important;
  background-color: rgba(155, 155, 155, 0.16) !important;
}

.action-button:focus {
  box-shadow: none !important;
}

.action-button:active {
  border: 1px solid black !important;
}

.link {
  color: black;
  text-decoration: underline;
}

.link:hover {
  color: black;
}

Button {
  height: 25px;
}

