
html, body {
    align-items: center !important;
    text-align: center !important;
    color: white !important;
}

.container {
    max-width: 517px;
    position: relative;
    top: 0;
}

.dealership-grid {
    max-width: 517px !important;
    position: relative !important;
}

.grid-div {

}

header {
    text-align: center;
}